<ion-header [translucent]="true">
  <ion-toolbar color="danger">
    <ion-title color="success">
      <h1>Meu app funciona!</h1>
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-text color="danger"><h1>To aqui po</h1></ion-text>
  <ion-badge color="success">17</ion-badge>
  <ion-input placeholder="Enter Input"></ion-input>
  <ion-item>
    <ion-label position="floating">Floating Label</ion-label>
    <ion-input></ion-input>
    <ion-icon name="eye" slot="end"></ion-icon>
    </ion-item>
    <ion-grid>
      <ion-row>
        <ion-col>
          Coluna 1 <ion-icon name="qr-code-sharp"></ion-icon>
        </ion-col>
        <ion-col>
          Coluna 2 <ion-icon name="rocket-sharp"></ion-icon>
        </ion-col>
        <ion-col>
          Coluna 3 <ion-icon name="skull-sharp"></ion-icon>
        </ion-col>
        <ion-col>
          Coluna 4 <ion-icon name="skull-sharp"></ion-icon>
        </ion-col>
      </ion-row>
    </ion-grid>]
  
  <ion-avatar>
    <iframe src="https://giphy.com/embed/b8RfbQFaOs1rO10ren" width="75" height="75" frameBorder="100" class="giphy-embed" allowFullScreen></iframe><p><a href="https://giphy.com/gifs/theoffice-b8RfbQFaOs1rO10ren"></a></p>
  </ion-avatar>
  <p><ion-icon name="earth-outline"></ion-icon></p>
  <ion-card>
    <img src="https://prod-ripcut-delivery.disney-plus.net/v1/variant/star/20AA3575F3FDC4BE7C8486F13DC8DB671E99DAC9B0AB7ED89331AF9ED277C4CA/scale?width=1200&aspectRatio=1.78&format=jpeg" />
    <ion-card-header>
      <ion-card-subtitle>Aliens</ion-card-subtitle>
      <ion-card-title>Top Movies</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      Aliens (no Brasil, Alien 2 Aliens O Resgate e em Portugal, Aliens - O Reencontro Final) é um filme estadunidense de 1986, de terror, ficção científica.
    </ion-card-content>
  </ion-card>

    
  <!-- ---------CORES DISPONIVEIS(sem uso de css)----------->
  <!-- <ion-button>Default</ion-button>
  <ion-button color="primary">Primary</ion-button>
  <ion-button color="secondary">Secondary</ion-button>
  <ion-button color="tertiary">Tertiary</ion-button>
  <ion-button color="success">Success</ion-button>
  <ion-button color="warning">Warning</ion-button>
  <ion-button color="danger">Danger</ion-button>
  <ion-button color="light">Light</ion-button>
  <ion-button color="medium">Medium</ion-button>
  <ion-button color="dark">Dark</ion-button> -->
</ion-content>
