body {
    font-family: "Montserrat";
    text-align: center;
  }
  
  h1, h2, h3, h4, h5, h6 {
    font-family: "Montserrat-Bold";
  }
  
  p {
    color: #8f8f8f;
  }
  
  /* Navigation Bar */
  
  .navbar {
    padding: 0 0 4.5rem;
  }

  #logo-navbar {
    width: 7.5rem;
    height: 3,515625rem;
  }
  
  .navbar-brand {
    font-family: "Ubuntu";
    font-size: 2.5rem;
    font-weight: bold;
  }
  
  .nav-item {
    padding: 0 18px;
  }
  
  .nav-link {
    font-size: 1.2rem;
    font-family: "Montserrat-Light";
  }

  /* Title Section */
  
  #title {
    background-color: #4D4646;
    color: #fff;
    text-align: left;
  }
  
  #title .container-fluid {
    padding: 3% 15% 7%;
  }
  #testimonials {
    background-color: #ef8172;
  }
  
  .contents-image {
    width: 18rem;
    height: 13.5rem;
    margin: 20px;
  }
  
  
  /* Footer Section */
  
  .social-icon {
    margin: 20px 10px;
  }
  
  @media (max-width: 1028px) {
  
    #title {
      text-align: center;
    }
  
    .title-image {
      position: static;
      transform: rotate(0);
    }
  }